# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Virtual Environments / IDE
# -------------------------
.vscode/
.env

# -------------------------
# Audio / Media Files
# -------------------------
*.wav
*.mp3
*.mp4
sample_sounds/

# -------------------------
# Database
# -------------------------
*.db
practice_sessions.db


# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db
